*
!.github/**/*.yml
!.readthedocs.yaml
!.hgignore
!LICENSE
!README.md
!changelog.md
!docs/conftest.py
!docs/**/*.md
!docs/**/*.svg
!docs/*.txt
!noxfile.py
!pyproject.toml
!rtd_get_docs.py
!ruff.toml
!scripts/*.py
!src/**/*.py
!tests/data/*.fasta
!tests/data/*.gz
!tests/data/*.tsv
!tests/data/*.log
!tests/**/*.py
!zensical.toml
